
body{
background: linear-gradient(to top,red,blue);
max-width: 100%;
margin: 0; 
padding: 0;

}
h1{
	color: white;
	font-size: 3.8EM;
	text-align: center;
	font-family: 'Abel', sans-serif;
	margin-top: 0;
	margin-bottom: 10px;
}
h1 strong{
	font-size: 1.6em;
}
#head{
	background-color:  white;
		background: linear-gradient(to top,darkslategray,slategray);
	color: white;
	height: 80px;
}	
	#head a {
		color: white
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
				nav ul li a:hover {
					background: #0b76a6;
				}

#principal{
	background-color: #ddccff;
    background-position: top;
    background-image:url(mix.jpg);
    background-repeat: no-repeat;
    padding-top:30px;
    max-width: 1200px;
	margin: 0 auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,.8);

}

#principal img {
	height: 250px;
	width: 250px;
	border-radius: 150px;
	margin:auto;
	display: block;
	border: 5px solid gray;
}
#principal p{
	color: white;
	text-align: center;
	font-family: 'Cuprum', sans-serif;
	padding-right: 50px;
	padding-left: 25px;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#derecha{
	text-align: right;
	padding-right: 50px;
}

ul li{
	list-style-type:  none;
	font-size: 1.5em;
	margin: 0;
	padding-bottom: 10px;
}

h3{
	font-size: 4em;
	font-family: 'Fjalla One', sans-serif;
	padding-left: 25px;
	color:  #19004d;
}

table{
	padding-left: 25px;
	padding-bottom: 25px;
	font-size: 1.5em;
	padding-top: 0;
}

#contacto {
	background-color: #08001a;
	color: white;
	margin: auto;
	width: 100%
}

#contacto form{
	padding: 10px;
}

#contacto img{
text-decoration: none;
background-color: transparent;
padding: 5px;
}
#redes {
	float: right;
}
#redes a img {
	width: 50px;
	height: 50px;
}

#redes ul {
	list-style: none;
}
#redes ul li{
	display: inline-block;
	height: 50px;
	width: 50px;
}

#instagram, #facebook, #github {
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

#instagram {
	background-image: url('img/instaBlanco.png');
}
#facebook {
	background-image: url('img/faceBlanco.png');
}
#github {
	background-image: url('img/githubBlanco.png');
}

#instagram:hover, #facebook:hover, #github:hover{
	background-size: 50px 50px;
	transition: all 500ms;

}
#instagram:hover {
	background-image: url(img/instaColor.png);
}
#facebook:hover{
	background-image: url(img/faceColor.png);
}
#github:hover{
	background-image: url(img/github.png);
}